<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Title Page</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		
		<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">						  
				<table class="table table-hover">
					<thead>
				  		<tr>
				  			<th>Command</th>
				  			<th>Status</th>
				  			<th>Stdout</th>
				  			<th>Stderr</th>
				  		</tr>
				  	</thead>
					<% commands.forEach(function(command){ %>
					  	<tbody>
					  		<tr>
					  			<td><%=command.string%></td>
					  			<td><%=command.status%></td>
					  			<td><%=command.stdour%></td>
					  			<td><%=command.stderr%></td>
					  		</tr>
					  	</tbody>
					<% })%>
			 		<% if(commands.length === 0) { %>
			 			<tbody>
			 			<tr><td>No Commands to be executed</td></tr>
			 			</tbody>
					<% } %>
				</table>
			</div>
		</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<form action="/add" method="POST" role="form">
						<legend>Add Command</legend>
					
						<div class="form-group">
							<label for="">Command</label>
							<textarea class="form-control" name="command"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Add</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>