<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Title Page</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		
		<div class="container">
		<div class="panel panel-default">
				<div class="panel-body">
					<form action="/add" method="POST" role="form">
						<legend>Add Command</legend>
					
            <div class="form-group">
              <label for="">Command</label>
              <textarea class="form-control" name="command"></textarea>
            </div>						
            <div class="form-group">
							<label for="">timeout in milliseconds (optional)</label>
							<input type="text" class="form-control" name="timeout"/>
						</div>
						<button type="submit" class="btn btn-primary">Add</button>
					</form>
				</div>
			</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<% commands.getAll().forEach(function(command){%>
					<div class="row">
						<div class="col-md-7">Command: <pre><%=command.string%></pre></div>
						<% if(command.status === 'new') {%> <div class="col-md-3 blue">Status : <pre>Added to Execution Queue</pre></div><% } %>
						<% if(command.status === 'sent') {%> <div class="col-md-3 blue">Status : <pre>Sent to Client</pre></div><% } %>
						<% if(command.status === 0) {%> <div class="col-md-3 green">Status : <pre>Successfull</pre></div><% } %>
						<% if(command.status === null) {%> <div class="col-md-3 green">Status : <pre>Successfull</pre></div><% } %>
						<% if(command.status > 0) {%> <div class="col-md-3 red">Status : <pre>Failed</pre></div><% } %>
              <div class="col-md-2">
                <form action="/redo" method="post">
                <input type="hidden" value="<%= command.id%>" name="id">
                  <button type="submit" style="margin-top:20px;" class="btn btn-primary">Run Again</button>
                </form>
              </div>
				  	</div>

				  	<div class="row">
            <% if(command.stdout && command.status != 'new') {  %>
				  			<div class="col-md-12"><pre><%=command.stdout%></pre></div>
            <% } %>
            <% if(command.stderr && command.status > 0) {  %>
				  			<div class="col-md-12"><pre><%=command.stderr%></pre></div>
				  	<% } %>
            	</div>
				  	
				<% })%>
		 		<% if(commands.getAll().length === 0) { %>
		 			No Commands to be executed
				<% } %>

				<hr>
			</div>
		</div>
			
		</div>
	</body>
</html>