<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home Automation</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	<div class="container">
		<div class="navbar">
			     <a class="navbar-brand" href="#">Home automation</a>
		</div>
		<div class="jumbotron">
  <h1 class="display-3">Hello</h1>
  <p class="lead">This is home automation command center for Sreevisakh</p>
  <hr class="my-4">
  <p>Please login with gmail account to control</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/auth/google/" role="button">Login</a>
  </p>
</div>
	</div>
</div>
	</body>
</html>
